<div id="hautbar">
<nav class="sidebar">
  <ul class="menu">
    @if (logged) {
      <li><button [style]="buttontyle" mat-raised-button color="primary" id="btnLogout" (click)="logout()">Déconnexion</button></li>
    }

    <li *ngFor="let item of menuItems"
        [class.has-submenu]="item.submenu.length > 0"
        [class.open]="item.isOpen">

      <a *ngIf="item.route"
         [routerLink]="item.route"
         routerLinkActive="active">
        <i class="fa {{item.icon}}"></i>
        <span>{{item.label}}</span>
      </a>

      <a *ngIf="!item.route"
         (click)="toggleSubmenu(item)">
        <i class="fa {{item.icon}}"></i>
        <span>{{item.label}}</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>

      <ul class="submenu" *ngIf="item.submenu.length > 0">
        <li *ngFor="let subitem of item.submenu">
          <a [routerLink]="subitem.route"
             routerLinkActive="active">
            {{subitem.label}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
</div>
